<form id="Login" title="Met Complaints" class="panel" selected="true" action="/police_groups" method="post" redirect="true">
  <fieldset>
    <div class="row">
      <label>Enter Postcode</label>
      <input type="text" name="postcode"/>
    </div>
  </fieldset>
  <a class="whiteButton" type="submit" href="#" target="_self">Search</a>
</form>

